*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(172, 33, 45);
   
}
.navClass{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px !important;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#dadada;
}
.btn{
    background-color: rgb(19, 221, 46);
    border: none;
    padding:25px;
    margin-top:6px;
    color: #262626;
    border-radius: 72px;
    box-sizing: border-box;

}
.fitContent{
    width:fit-content;
    box-sizing: border-box;
    display: inline-block;
    font-size:20px;
    height:fit-content;
    color: #dadada;
  
}
.logo{
    padding:5px;
    margin:5px;
}
.myLogo
{
    display:inline;
    padding:3px;
}
.navLinks ul{
    list-style:none;
    margin-top:10px;
}
.navLinks ul li{
    display: inline;
    margin: 30px;
}


/*Below here are the stykes for the section of the website*/

.About-me{
    width:86%;
    margin:20px auto 20px auto;
    padding: 5px;
    padding-right:10% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.description{
    width:65%;
    display: inline-block;
}

.About-me .highlighter{
    color:Yellow;
}
.elementsCenter{
    width:fit-content;
    margin:10px auto 10px auto;   
}