.btn{
    background-color: transparent/*rgb(19, 221, 46)*/;
    border: 1px solid #25D5C8;
    padding:15px 40px;
    margin-top:6px;
    font-size:20px;
    color: #ddd;
    border-radius: 72px;
    box-sizing: border-box;
}
h2 #breaker{
    display: none;
}
#middleText{
    color:#35D5C8;
}
#aaaa{
    color:white;
}
::-webkit-scrollbar {
    width: 6px;

  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #ddd;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    opacity: 0.3;
    border-radius: 5px;
}
.focusclass:focus
 {
       outline: none !important;
       border:1px solid #008080; 
       box-shadow: 0 0 10px #35D5C8;/*#719ECE;*/ 
       caret-color:#35D5C8;   
}
       
ul li a:hover{
    color:#35D5C8;
}
.headings{
    margin-top: 60px; 
    margin-bottom: 30px;
}
a[class="nav-li "]:hover{
    color:#aaa;
    z-index: -1;
}
.greyback{
    background-color: transparent;
}
.whitetext{
    color:white;
}
.nav-li{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-top: 6px;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.details{
    padding-top:10px;
}
.aboutclass h1{
    font-size: 65px;

}
.aboutclass h2{
    font-size: 33px;

}
img{
    width:100%;
}
img[class="profileImage"]{
    width:100%;
    padding-top:20px;
    border-radius: 50%;
}
#about .heading{
    padding-top:25px;
}
a{
    text-decoration: none;
    color: #fff;
}
a[class="btn"]:hover{
    background-color: #35D5C8;
    border: 1px solid #008080;
    color:#000;
    opacity:0.7;
}
#about h1{
    font-weight: 700;
    clear: both;
}
a[class="nav-link"]{
    color: white, !important;
    font-weight: 200;
}
#about h5{
    font-weight:300;
    line-height: 2rem;
}
#about{
    margin-top:10px;
    height: 100vh;
}
#about .container{
    margin-top: auto;
    padding:60px 10px 10px 0px;
    top:30%;
    margin-bottom: auto;
    height:fit-content;
    width: 100%;
}

/** grid */
#skills{
    width: 100%;
    height:100vh;
}
#contact{
    width: 100%;
    height:100vh;
    margin-bottom: 10px;
}
.fit{
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    cursor: pointer;
    border-radius: 5px;
}
::placeholder{
    color:white;
    opacity: 0.8;
}    
#projects{
    width: 100%;
    height:100vh;
}

.grid{
    display: grid;
    column-gap: 100px;
    row-gap: 100px;
    margin-top: 100px;
    margin-bottom: 45px;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-auto-rows: 50px;
    padding:10px;
    width:100%;
    box-sizing:border-box;
}
p{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;  
}
ul li{
    display: inline;
    font-size: 40px;
}
.submitbtn{
    outline:none;
    background-color: transparent;
    padding:10px;
    color:#ddd;
    border:0.5px solid #35D5C8;

    border-radius: 5px;
}
.alert{
    display: none;
    outline:none;
    border:none;
    padding:0;
    padding-left: 5px!important;
    margin-bottom:5px;
    background-color: transparent;
    text-align: #35D5C8;
    margin-top: 10px;
}





@media (max-width:700px) {
    img[class="profileImage"]{display: none;}
    #about{
        text-align: center;
        padding-top:20px;
        width:100%;
    } 
    #projects{
        width: 100%;
        height: 100vh;
    }
    #contact #contact-form{
            padding: 0;
            margin:15px 0px 0px 0px ;
            width:100%;
        }
    h2 #breaker{
        display: block;
    }
    .navbar-dark{
    
        background-color: #aaa;
    }
    #contact-form{
        margin-left: 0px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    img[class="profileImage"]{display: none;}
}