*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(172, 33, 45);
   
}

.navClass{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px !important;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:40px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#dadada;
}
.btn{
    background-color: #262626/*rgb(19, 221, 46)*/;
    border: none;
    padding:25px;
    margin-top:6px;
    font-size:20px;
    color: rgb(19, 221, 46);
    border-radius: 72px;
    box-sizing: border-box;

}
.fitContent{
    width:fit-content;
    box-sizing: border-box;
    display: inline-block;
    font-size:20px;
    height:fit-content;
    color: #dadada;
  
}
.logo{
    padding:5px;
    margin:5px;
}
.myLogo
{
    display:inline;
    padding:3px;
}
.navLinks ul{
    list-style:none;
    margin-top:10px;
}
.navLinks ul li{
    display: inline;
    margin: 30px;
}


/*Below here are the stykes for the section of the website*/

.About-me{
    width:86%;
    margin:20px auto 30px auto;
    font-size:20px;
    padding: 5px;
    height:80vh;
    padding-right:10% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.About-me h1{
    font-size: 60px;
}
.description{
    width:65%;
}
.description h2{
    font-size: 45px;
    display: inline-block;
}
.About-me .description .someText h5{
    display: inline-block;
    font-size: 20px;
    line-height: 1.5em;
    color: #fff;
    font-weight: lighter;
}

.About-me .highlighter{
    color:Yellow;
}
.container{
    width:80%;
    box-sizing: border-box;
    padding:10px;
    height:100%;
    
}
.container h1{ 
  text-align: center;
  color:#dadada;
  margin-bottom: 30px;
}
.elementsCenter{
    width:fit-content;
    margin:10px auto 10px auto; 
    color: #dadada;  
}
.grid{
    display: grid;
    column-gap: 100px;
    row-gap: 30px;
    margin-top: 100px;
    grid-template-columns: repeat(6,90px);
    grid-auto-rows: 100px;
    padding:10px;
    box-sizing:border-box;
}
.container .grid .skillsImages img{
    width:100%;

}
img[class="lucid"]{
    border-radius:10px;
}

#main-footer{
    border: 1px solid blue;
    padding:10px;
    color:#dadada;
    text-align: center;
}

.container ul{
    list-style: none;
    font-size: 45px;
}
.bigger{
    font-size: 35px;
}
.contact{
    color: #dadada;
    text-align: center;

}
.container ul li ul li{
    display: inline;
    margin: 10px;
    font-size: 40px;
    
}