*
{
	padding:0;
}
body
{
	background-color: #f4f4f4;
	margin:0;
}
#main-NavBar ul a:hover
{
	background:rgba(150,50,150,.4);
}
a[id="read-more"]
{
	text-decoration: none;
	background: gray;
	color:#f4f4f4;
	border:none;
	padding:5px;
}
a[id="read-more"]:hover
{
	
	background: rgba(150,50,150,.6);
	
}
#Main-Header img
{
	float:left;
	border-radius: 100%;
	width:100px;
	height:75px;
}
#Main-Header
{
	background: rgba(150,50,150,.6);
	width:100%;
	min-height:30px;
	color: white;
	position:static;
	padding:2px;
	text-align: center;
	font-weight:300;
	font-family:"helvetica";
	z-index: -1500;

}
#main-NavBar
{
	background: rgba(150,50,150,.6);
	margin-bottom: 5px;
	
	
} 
#main-Navbar ul
{
	margin:0px;
	padding:0px;

}
#main-NavBar li
{
	display: inline;

}
#main-NavBar ul a
{
	
	text-decoration: none;
	color: white;
	font-size: 19px;
	margin-left:40px;
	font-family:"palatino";
}
.container
{
	
	margin-left:15px;
}
.container .Blog-content
{
	width:33.3%;
	background: rgba(150,50,150,.6);
	line-height: 1.6em;
	border-left:1px grey dotted;
	border-right:1px grey dotted;
	border-bottom:1px grey dotted;
	color: grey;
	float: left;
	margin-top:5px; 
	text-align:center;
	padding:10px;
	font-size: 20px;
	box-sizing: border-box;

}
.container .Side-Bar
{
	float: right;
	width:20%;
	text-align: center;
	color: grey;

}
.container .Side-Bar ul
{
	padding:0px;
	list-style: none;
	height: inherit ;
	border-top: solid 1px gray;
	line-height: 1.6em;
	color: grey;
	font-size: 18px;
	
}

.container .Side-Bar ul li
{
	
	border-bottom: solid 1px gray;	
}
#main-Footer
{
	clear:both;
	background: rgba(150,50,150,.9);
	opacity: 0.9;
	text-align: center;
	padding:15px;
	margin-top:200px;
	color:#fff;
	font-size:18px;
}
@media(max-width:600px)
{
	 .container .Blog-content
	{
		width: 100%;
		float:none;

	}
}
.login-Container h2
{
	padding:0px;
	margin:0px;
	padding:8px;
	width:100%;
	text-align: center;
	color:white;
	background: grey;
	font-weight: 300;
	box-sizing: border-box;

}
.login-Container
{
	background:#aaa;
	width:30%;
	margin:auto;
	border-radius: 10px;
}
.login-Container .login-Form
{
	padding:25px;


}
.login-Container .login-Form .form-Controls
{
	margin-bottom: 15px;
	width: 100%;
}
.login-Form label
{
	display:block;
	margin-bottom:3px;
	color:white;
}
.login-Form .form-Controls input[type="text"]
{
	padding:4px;
	width:100%;
	border-radius: 72px;
	border:none;
}
.login-Form .form-Controls textarea
{
	width:100%;
	min-height: 70px;
}
.button
{
	padding:15px;
	border:none;
	background: grey;
	color:#fff;
}
.button:hover
{
	background: #333;
	color:#fff;
	cursor: pointer;
}